<mat-toolbar class="tool-bar">
  <button class="toolbar_icon-button" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <div class="toolbar_logo-title-group" fxLayout fxLayoutAlign="center center">
    <a routerLink="/" fxLayout>
      <img src="/assets/logo.svg" alt="NgAuction Logo" class="toolbar_logo">
    </a>
    <a routerLink="/" class="toolbar_title">NgAuction</a>
  </div>
  <div fxFlex></div>
  <button mat-icon-button class="toolbar_icon-button toolbar_shopping-cart-button">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>
<!-- <router-outlet></router-outlet> -->